
// ====== Variables Fonts Order ========= //
@font-face {
    font-family: medium500 ;
    src: url(../fonts/Red_Hat_Display/RedHatDisplay-Medium.ttf);
}
@font-face {
    font-family: bold700;
    src: url(../fonts/Red_Hat_Display/RedHatDisplay-Bold.ttf);
}

@font-face {
    font-family: black900;
    src: url(../fonts/Red_Hat_Display/RedHatDisplay-Black.ttf);
}
$Pale-blue: hsl(225, 100%, 94%);
$Brigh: hsl(245, 75%, 52%);

$Very-pale: hsl(225, 100%, 98%);
$Desaturate: hsl(224, 23%, 55%);
$Dark: hsl(223, 47%, 23%);

// ====== Variables Fonts Order END ========= //


body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background: $Pale-blue;
    background-image:url(../images/pattern-background-desktop.svg) ;
    background-repeat: no-repeat;
    background-size: 100%;
}

@mixin flex($direction){
    display: flex;
    flex-flow: $direction wrap;
}
.container{
    @include flex(column);
    width: 90%;
    align-items: center;
    margin: 0px auto;
    margin-top: 10px;
    align-items: center;
    padding: 15px;

    & .content-wrap{
    @include flex(column);
    width: 29%;
    min-height: 50px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0px 1px 3px #666,0px 2px 8px #666;
    animation: show 1s linear;

    & .content-img img{
        width: 100%;
        border-radius: 10px 10px 0px 0px;

        img{
            width: 100%;
            display: block;
        }
    }
    }
}

.main{
    @include flex(column);
    align-items: center;

    & .title{
        @include flex(column);
        flex-basis: 100%;
        align-items: center;

        & h1{
        font-family: black900;
        margin-bottom: 0px;
        }

        & .text{
            width: 90%;
            font-family: medium500;
            color: #999;
            padding: 8px;
            text-align: center;
            font-size: 15px;
        }
    }

}

.plan-anual{
    @include flex(row);
    justify-content: center;
    align-items: center;
    width: 70%;
    border-radius: 5px;
    background: $Very-pale;
     padding: 15px;
     margin-bottom: 10px;

     & .icon-music{
         flex-grow: 1;

       & img{
            width: 65%;
        }
     }
     & .contet-plan{
        flex-grow: 2;
    
         & h4{
             margin: 3px;
             font-family: medium500;
             font-size: 13px;
         }
         & .precio{
             color: #999;
             font-weight: 500;
         }
     }
     & a{
         flex-grow: 1;
         font-family: bold700;
         font-size: 15px;
         color:$Brigh ;
         transition: all 300ms;
     }
     a:hover{
         text-decoration: none;
     }
}
.buttoms{
    @include flex(column);
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;

    & button{
        border: none;
        width: 230px;
        padding: 15px;
        border-radius: 10px;
        font-family: bold700;
        cursor: pointer;
    }
    & .proceed{
        background: $Brigh;
        width: 250px;
        color: $Very-pale;
        box-shadow: 0px 1px 3px $Desaturate, 0px 2px 6px $Desaturate;
        margin-bottom: 10px;
        transition: all 200ms;
    }
    .proceed:hover{
      background:hsl(245, 70%, 46%);
    }

    & .cancel{
        background: none;
        color: #999;
        transition: all 300ms;
    }
    .cancel:hover{
        color: rgba(255, 0, 0, 0.966);
    }
}

@keyframes show {
   
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

// agg mas animaciones de entrada!!!

 // ====== Responsive Web =========//

 @media (max-width: 1024px) {

    .container .content-wrap{
        width: 50%;
    } 
    .buttoms .proceed,
   .buttoms .cancel{
       width: 240px ;
   }


 }

 // small-phone
 @media (max-width: 575px) {

    body{
        background-image:url(../images/pattern-background-mobile.svg) ;
    }
    .container .content-wrap{
        width: 90%;
    } 

 }


